@using TRANHOANGCHUNGBTH.Models
<h2>Danh sach sinh vien</h2>
<hr>
<table class="table border">
    <tr>
        <th>
            <label>Student ID</label>
        </th>
        <th>
            <label>Student Name</label>
        </th>
        <th>
            <label>Student Age</label>
        </th>
    </tr>
@foreach (var item in ViewData["Students"]as List<Student>)
{
   <tr>
        <td>@item.StudentID</td>
        <td>@item.StudentName</td>
        <td>@item.Age</td>
   </tr> 
}
</table>